* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', serif;
    background: linear-gradient(#222c31, #111d32);
    color: #d9e2f1;
    min-height: 100vh;
}

.header-container{
    display: flex;
    /* flex-direction: row; row is already default */ 
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.header-children{
    margin-right: 10px;
    display: flex;
    gap: 15px;
}
.nav-item{
    text-decoration: None;
    color: white;
}

.ul, li{
    list-style: none;
}

.posts-list-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.posts-list{
    max-width: 70rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 3rem;
}

.post-item{
    /* align-items: center;  */
    height: 100%;
    margin: 2rem 0;
    padding: 0;
    border-radius: 4px;
    background-color: #3c4249;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    gap: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20rem;
}
.post-item img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9; 
}
.post-item-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.post-item-content h2{
    align-items: center;
    font-size: 1.15rem;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #d7bfcb;
}
/* .post-name-date{
    align-items: center;
    justify-content: center;
} */
.post-item-date{
    /* align-items: center; */
    margin: 0.5rem;
    font-size: 0.85rem;
    font-family: 'Quicksand', sans-serif;
    justify-content: space-between;
}
.post-button{
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: none;
    background-color: #733ad7;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    font-weight: bold;
    text-decoration: none;
}